@media screen and (max-width:600px){
  .playerM{
    width:400%;
  }
  .shuffle{
    position: relative;
    bottom:40px;
  }
}

@keyframes bouncer2{
  0%{

    border-color:maroon ;
  }
  50%{

    border-color:red ;
  }
  100%{

    border-color:maroon ;
  }
}

.positionUpward{
  position:relative;
  bottom:60px;
}
.ptb1{
  padding-top: 1%;
  padding-bottom: 1%;
}
@keyframes rotation{
  0%{
    transform:rotate(0deg);
  }
  25%{
    transform:rotate(360deg);
  }
  75%{
    transform:rotate(-360deg);
  }
  100%{
    transform:rotate(0deg);
  }
}
.b26{
  background:#262626;
}
.rotation {
  animation: infinite 3s ease-in-out rotation;
}

.bounce{
  animation:3s infinite ease-in-out bouncer2;
  border:4px solid maroon;
}
