@media screen and (max-width:600px){
  .playerM{
    width:400%;
  }
  .shuffle{
    position: relative;
    bottom:40px;
  }
}
@keyframes bouncer{
  0%{

    border-color:maroon !important;
  }
  10%{

    border-color:red !important;
  }
  100%{

    border-color:maroon important;
  }
}

@keyframes rotation{
  0%{
    transform:rotate(0deg);
  }
  25%{
    transform:rotat(360deg);
  }
  75%{
    transform:rotate(-360deg);
  }
  100%{
    transform:rotate(0deg);
  }
}
.rotation {
  animation: infinite 3s ease-in-out rotation;
}

.bounce{
  animation:.5s infinite ease-in-out bouncer;
  border:2px solid maroon;
}
